@import url(./fonts.css);


:root {
    --font-primary: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1376px;
    width: 100%;
    margin: auto;
    padding: 0 12px;
}

/* header start */


/* header end */


/* membership start */

/* membership end */


/* guide start */

/* guide end */


/* info start */
.info {
    margin: 113px 0 72px;
}

.info__title {
    font-weight: 400;
    font-size: 54px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #692340;
    margin-bottom: 37px;
}

.info__text {
    margin: auto;
    width: 661px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #692340;
    margin-bottom: 100px;
    display: block;
}

.info__wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 134px;
}
.info__wrap-logo{
    margin-bottom: 43px;
}

.info__wrap-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    color: #692340;
    margin-bottom: 22px;
}

.info__wrap-text {
    margin: auto;
    width: 429px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #692340;
    margin-bottom: 13px;
}


.info__wrap-left p:nth-child(4) {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #692340;
}
/* info end */


/* slider start */




/* slider end */


/* already start */




/* already end */




/* community start */




/* community end */


/* place start */




/* place end */


/* footer start */




/* footer end */